<!doctype html>
<html>
<head>
    <title>Perfiles Empresariales</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link href="https://eccwebapp08.azurewebsites.net/static/css/styles.css" rel="stylesheet">
    
</head>
<body>
	<header class="site-header">
		<div class="content-logo">			
			<a href="https://www.cronista.com/" target="_blank" title="El Cronista">
				<img src="img/lg_cronista_web.svg" alt="El Cronista" width="270" height="40">
			</a>			
		</div>
	</header>
	<div class="container">
		<div class="jumbotron text-center container-jumbo">
			<h1 class="title-jumbotron"><span class="fa"></span>Perfiles Empresariales</h1>
			<a href="/empresas" class="btn btn-default btn-loading"><span class="fa fa-user"></span> Carga de Empresas</a>
			<a href="/empresaspublicaciones" class="btn btn-default btn-loading"><span class="fa fa-user"></span> Asociar publicaciones a empresas</a>
			<a href="/desasociar" class="btn btn-default btn-loading"><span class="fa fa-user"></span> Desasociar publicaciones de empresas</a>
			<a href="/editarnombre" class="btn btn-default btn-loading"><span class="fa fa-user"></span> Cambiar nombre a empresas</a>
			<a href="/pasarborrador" class="btn btn-default btn-loading"><span class="fa fa-user"></span> Pasar empresas completadas a borrador</a>
			<a href="/status" class="btn btn-default btn-loading"><span class="fa fa-user"></span> Status de formularios</a>
			<a href="/descargaword" class="btn btn-default btn-loading"><span class="fa fa-user"></span> Descarga de word</a>
			<a href="/formularioscompletos" class="btn btn-default btn-loading"><span class="fa fa-user"></span> Grilla con Formularios Completos</a>
		</div>
	</div>
	<footer class="site-footer clearfix">
		<div class="a-divider-inner"></div>
		<div class="logos-footer clearfix">				
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
				<a href="https://www.cronista.com/" target="_blank"><img class="logo-footer" src="img/lg_cronista_web2.svg" width="180" height="60"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
				<a href="http://www.apertura.com" target="_blank"><img class="logo-footer" src="img/lg_revista_apertura.svg" width="180" height="50"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
				<a href="http://www.infotechnology.com" target="_blank"><img class="logo-footer" src="img/lg_revista_technology.svg" width="180" height="50"></a>
			</div>				
		</div>
	</footer>
</body>
</html>
